* {
	margin: 0;
	font-family: Sans-Serif;
	color: #2a2a2a;
}

.a {
	background-color: #32b9ff;
	height: 70px;
	display: grid;
	align-items: center;
	padding: 0 10px;
}

.a h1 {
	color: white;
}

.b a {
	float: left;
	background-color: #e9d8fa;
	margin: 10px 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}

.c {
	height: 100px;
	background-color: #f4f4f5;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
}